<!DOCTYPE html>
<html>
  <head>
    <title>Ably Digital Clock</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
    <script src="basic-auth-sub.js"></script>
  </head>
  <body>
    <div>
      <button onclick="doBasicAuth()">Click me</button>
      <div>
        <span id="ch1-field1">ERROR</span>
        <span id="ch1-field2">ERROR</span>
      </div>
      <div>
        <span id="ch2-field1">ERROR</span>
        <span id="ch2-field2">ERROR</span>
      </div>
    </div>
  </body>
</html>
