<!DOCTYPE html>
<html>
  <head>
    <title>Ably Digital Clock</title>
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
    <script src="subscribe.js"></script>
  </head>
  <body>
    <div class="line">
      <div class="time">
        <span id="time">ERROR</span>
        <span id="date">ERROR</span>
      </div>
    </div>
  </body>
</html>
