body {
  font-family: "Orbitron";
  background-color: white;
  margin: 0;
}

div.time {
  text-align: center;
  font-size: 150px;
  position: relative;
  color: rgb(255, 84, 22);
  letter-spacing: 2px;
}

div.line {
  line-height: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
